@font-face
{
    font-family: Riven Regular;
    src: url(font/Riven.ttf);
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer; }

.div-body {
    font-family: Riven;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    line-height: 1.6;
    opacity: 1;
}

.selector{
    color: black;
    font-style: italic;
    animation: color-change 5s infinite;
    font-size: 19px;
}

@keyframes color-change{
    0%   {color: red;}
    50%  {color: #66FF00;}
    100% {color: red;}
}

.appear-animation{
    -o-transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    transition:all 2s;
}

.appear-animation.ng-enter{
    opacity: 0;
}

.text-change{
    position: fixed;
}

.text-change.ng-enter, .animate-if.ng-leave {
    transition:all 0.5s;
}

.text-change.ng-enter,
.text-change.ng-leave.ng-leave-active {
    opacity:0;
}
 
.text-change.ng-leave,
.text-change.ng-enter.ng-enter-active {
    opacity:1;
}

.show-message.ng-hide-add, .show-message.ng-hide-remove{
    transition:all linear 0.5s;
    display:block!important; /*this is nessesary for the animation to work properly*/
}

.show-message.ng-hide-add.ng-hide-add-active,
.show-message.ng-hide-remove {
    opacity:0;
}
 
.show-message.ng-hide-add,
.show-message.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.setting-button{
    position: fixed;
    right: 1px;
    opacity: 0.4;
    animation: spin 1.3s;
    transition: opacity 1s;
}

@keyframes spin{
    0% {transform: rotate(-365deg);}
    100% {}
}

.setting-button:hover{
    opacity: 1
}

.appear-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.div-above-center {
    font-style: normal;
    max-width: 100%
}

.intro-text{
    position:relative;
    font-family: Riven;
    text-align: center;
    font-style: normal;
}

.input {
    vertical-align: middle;
    position: relative;
    left: 5%;
    font: 13px/17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 90%;
    font-style: italic;
}

.button *{
    position: relative;
    font-size: 20px;
    line-height:1.1;
    margin-left: 0;
}

