@font-face
{
    font-family: Riven;
    src: url(font/Riven.ttf);
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer; }

.div_body {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    line-height: 1.6;
    opacity: 1;
}

.selector{
    color: black;
    font-style: italic;
    animation: color-change 5s infinite;
    font-size: 19px;
}

@keyframes color-change{
    0%   {color: red;}
    50%  {color: #66FF00;}
    100% {color: red;}
}

.appear_animation{
    -o-transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    transition:all 2s;
}

.appear_animation.ng-enter{
    opacity: 0;
}

.appear_animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.div-above-center {
    font-style: normal;
}

.intro_text{
    position:relative;
    font-family: Riven;
    text-align: center;
    font-style: normal;
}

.input {
    vertical-align: middle;
    position: relative;
    left: 5%;
    font: 13px/17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 90%;
    font-style: italic;
}
.button *{
    position: relative;
    font-size: 20px;
    line-height:1.1;
    margin-left: 0;
}
